* {
    margin: 0;
    padding: 0;
}
section {
    height: 500px;
    background: grey;
    width: 100%;
    display: flex;

    flex-flow: row wrap;
    justify-content: center
    
    
    
}

.item {
    
   padding: 20px;
background: #f0e4e4;
        flex-basis:300px;

    margin: 20px;
    
    
    
  
}

.item2 {
    background: yellow;
    
}
