body {
    background-color: #7c716c;
}

.weather-info {
            display: flex;
    
    
    
    background: #ffffff;
    border: solid 2px black;
    
    
        }

        section {

            flex: 1;
            margin-left: 10px;
        }

        table,
        th,
        td {


            border-collapse: collapse;
            border: solid 2px black;
            margin-top: 20px;
        }

        th,
        td {
            text-align: left;
            padding: 10px;
        }

        table {
            width: 100%;
        }

h4 {
    border: solid 2px black;
    padding: 10px;
    width: 4em;
    
}

th + th{
    color:#000000;
    background-color: #dedbcb;
}

th:first-of-type, td:first-of-type{
    color:#ffffff;
    background-color: #ff8a25
}

h2:first-of-type {
    color: #ffb97d;
    text-align: center;
}