#grid-floats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

h1,
h2 {
    text-align: center;
    font-family: sans-serif;
}

img {
    width: 50%;
    
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.grid-item {
    border: solid 2px red;
text-align: center;
    padding: 10px;
}

#grid-floats li:nth-child(1) {
    grid-column: 1/3
}




    #grid-flex {
        margin: 0px;
  padding: 0em;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;

        
    }

    #grid-flex .grid-item{
        
    
    margin: 0.2em;
    
   

    
    }
/* justify-content: space-evenly;*/

    #grid-flex li{
       width: 40%;
        margin-bottom: 1%;
        
    }

#grid-flex li:nth-child(1) {
    flex-basis: 85%;
    
}



@media screen and (min-width: 736px) {

    #grid-floats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        }
    
    
   
    #grid-flex {
        margin: 0;
  padding: 1em;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;

        
    }

    #grid-flex .grid-item{
        
    
    margin: 1em;
    
   

    
    }
/* justify-content: space-evenly;*/

    #grid-flex li{
       width: 25%;
        margin-bottom: 1%;
        
    }

#grid-flex li:nth-child(1) {
    flex-basis: 58%;
    
}

    

    

}
    @media screen and (min-width: 1030px) {

        #grid-floats {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 1em;
        }
        
            #grid-flex {
        margin: 0;
  padding: 1em;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;

        
    }

    #grid-flex .grid-item{
        
    
    margin: 1em;
    
   

    
    }
/* justify-content: space-evenly;*/

    #grid-flex li{
       width: 19%;
        margin-bottom: 1%;
        
    }

#grid-flex li:nth-child(1) {
    flex-basis: 58%;
    
}
        
    }

