* {
    margin: 0;
    padding: 0;

}

body {}

header {
    background-color: #fdfdfd;
    text-align: center;
}

.navbar {
    
    background-color: #2d9fc9;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.navbar p {
    padding: 28px;
    padding-left: 150px;
    font-size: 25px;

    
}
.navbar p a{
        color: white;
text-decoration: none;
}

.navbar ul {
    
    list-style-type: none;
    overflow: hidden;
    padding: 31px;
    font-size: 21px;
  
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    text-decoration:underline;
}

.navbar p a:hover {
    text-decoration:underline;
}


.firstBox {
    background-image: url("https://www.rijksoverheid.nl/binaries/medium/content/gallery/rijksoverheid/attentie-afbeeldingen/onderwerpen/m/minimumloon/grand-cafe-minimumloon-hero.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
}

.firstBox section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px ;
    
    list-style-position: inside;
}


.firstBox div {
    background-color: aliceblue;
    width: 200px;
    padding: 20px
}
input[type=text] {
    
    width:400px;
    margin-left: 100px;
    height: 30px;
   
    
    
    font-size: 16px;
    
    padding: 12px 20px 12px 40px;
    border:none ;
    
}

.info1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0px 20px;
}

.info1 div {
    padding: 10px;

    background: #f0f0f0;
}

.info1 h3 {
    color: #63bbcb;
}

.info1 p {
    color: #3b3838;
}

.info2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 20px 0px 20px;
}

.info2 div {
    padding: 10px;
    border: solid 1px #d03b3b;
    background: #ff6e6e;
}

.info3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 20px 0px 20px;
}

.info3 div {
    padding: 10px;
    border: solid 1px black;
    background: #b56363;
}

.info4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin: 20px 0px 20px;
}

.info4 div {
    padding: 10px;
    border: solid 1px black;
    background: #a6b7ff;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0px 20px;
    padding: 20px;
    background: #85b1de;
}

.firstFooter {
    padding-left: 200px;
}

.sideFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 3;
}

.links {
    height: 100px;
    background: black;
    text-align: center;
    color: white;

}

.links p {
    padding: 40px;
}
